#appname{
  text-align: left;
}
#mainHeader {

  /*height: 50px;*/
  /*color: #fff;*/
  /*background: #1183fb -webkit-gradient(linear,right top,left top,from(#0a48d1),to(#1183fb));*/
  /*background: #1183fb -webkit-linear-gradient(right,#0a48d1 0,#1183fb 100%);*/
  /*background: #1183fb -o-linear-gradient(right,#0a48d1 0,#1183fb 100%);*/
  /*background: #1183fb linear-gradient(-90deg,#0a48d1 0,#1183fb 100%);*/
  /*background-color: #1183fb;*/
  /*border-top-color: #0c64eb;*/
  /*border-bottom-color: #e9f2fb;*/
}
#heading h1 {
  float: left;
  max-width: 250px;
  margin: 0;
  overflow: hidden;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#navbar .nav {
  display: inline-block;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}
ol, ul {
  padding-left: 20px;
}
*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
